// common
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font-family: "Meiryo UI", "Meiryo";
}

// map
$breakpoint: (
    sp: 'screen and (max-width: 375px)',
    pc: 'screen and (min-width: 375px)',
);

// mixin
@mixin title_font {
    font-size: 16px;
    font-weight: bold;
}

@mixin main_article_font {
    font-size: 24px;
    font-weight: bold;
}

@mixin aside_title_font {
    font-size: 18px;
    font-weight: bold;
}

@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}

.logo {
    padding: 20px 14px;
    margin: 0 auto;
    max-width: 1200px;
}

.logo__heading {
    height: 30px;
    max-width: 145px;
}

.nav {
    background-color: #333333;
    color: #FFFFFF;
}

.nav__list {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 16px 14px;
}

.nav__item {
    &:not(:last-child) {
        margin-right: 60px;
    }
}

.pickup {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.pickup_article {
    width: 373px;

    &__img_area {
        max-width: 373px;
        height: 210px;
    }

    &__text {
        margin-top: 13px;
        line-height: 1.35em;
        @include title_font;
    }

    &__read_more_area {
        text-align: center;
        margin-top: 21px;
    }

    &__read_more {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: -3px;
            border-top: 1px solid black;
        }
    }
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 77px auto 0;
}

.main {
    max-width: 760px;
}

.main_article {
    max-width: 760px;

    &:not(:first-child) {
        margin-top: 87px;
    }

    &__title {
        @include main_article_font;
    }

    &__tag {
        display: flex;
        margin-top: 27px
    }

    &__tag_item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__img {
        margin-top: 13px;
        max-height: 427px;
    }

    &__content_text {
        max-width: 667px;
        margin: 13px auto 0;
        font-size: 16px;
        letter-spacing: 0.2em;
        line-height: 1.7em;
    }

    &__read_more_area {
        text-align: center;
        margin-top: 33px;
    }

    &__read_more {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            bottom: -3px;
            border-top: 1px solid black;
        }
    }
}

.aside {
    max-width: 345px;
    margin-top: 16px;
}

.author {
    &__img_area {
        width: 130px;
        height: 130px;
        margin: 0 auto;
    }

    &__img {
        border-radius: 50%;
    }

    &__name {
        margin-top: 35px;
        text-align: center;
        @include aside_title_font;
    }

    &__explain {
        margin-top: 37px;
        letter-spacing: 0.1em;
        line-height: 1.4em;
    }
}

.ranking {
    &__label {
        margin-top: 57px;
        text-align: center;
        @include aside_title_font;
    }
}

.ranking_article {
    &:not(:first-of-type) {
        margin-top: 31px;
    }

    &__title {
        letter-spacing: 0.1em;
        line-height: 1.2em;
    }

    &__img_area {
        height: 194px;
    }
}

.archive {
    &__label {
        margin-top: 66px;
        text-align: center;
        @include aside_title_font;
    }

    &__item_list {
        margin-top: 34px;
    }

    &__item {
        border-top: solid 1px #777777;
        padding: 25px 0 25px 25px;

        &:last-child {
            border-bottom: solid 1px #777777;
        }
    }
}

.footer {
    width: 100%;
    height: 510px;
    background-color: #F7F7F7;
    margin-top: 140px;
    padding-top: 55px;
}

.footer_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    &__item {
        width: 350px;
    }

    &__title {
        text-align: left;
        @include aside_title_font;
    }

    &__about_text {
        letter-spacing: 0.1em;
        line-height: 1.4em;
        margin-top: 37px;
    }

    &__about_detail_list {
        margin-top: 15px;
    }

    &__about_detail_item {
        &:not(:first-child) {
            margin-top: 12px;
        }

        // 三角形の作り方が分からん。。。
        &:before {
            content: '▶';
        }
    }

    &__menu_list {
        margin-top: 34px;
    }

    &__menu_item {
        padding: 18px;
        border-top: solid 1px #777777;

        &:last-child {
            border-bottom: solid 1px #777777;
        }
    }

    &__twitter_img_area {
        max-width: 347px;
        height: 315px;
        margin-top: 34px;
    }
}
